/* ==================
GLOBAL
=====================*/

:root {
    --color-1: #F8F8F8;
}

body {
    margin: 0;
}


/*=================== 
LAYOUT 
====================*/

.container {
    width: 90%;
    margin: 0 auto;
}



/* ================
TYPOGRAPHY
==================*/

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}



/* ==================
header
=====================*/

.header {
    background-color: var(--color-1);

}


/* ==================
MAIN
=====================*/




