/* ==================
GLOBAL
=====================*/

:root {
    --color-1: orange;
    --color-2: #F8F8F8;
    --nav-color: #717171;
    --title-color: #143774;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 890px) {
    body {
        font-size: 1.6rem;
    }
}

/*=================== 
LAYOUT 
====================*/

.container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

/* ================
TYPOGRAPHY
==================*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
    color: var(--title-color);
    margin: 0;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}



/* ==================
header
=====================*/

.header {
    background-color: var(--color-2);
    padding: 1.2em;
    margin-bottom: 4em;
    text-align: center;
}

.header__sub-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.header__col-1 {
    margin-bottom: 1.75em;
}

.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__item {
    margin-bottom: 1em;
}

.header__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.175em;
    color: var(--nav-color);

}

.header__link--active {
    border-bottom: 2px solid var(--nav-color);
    
} 


@media (min-width: 890px) {
    
    .header {
        /* background-color: magenta; */
        padding: 2em;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__col-1 {
        margin: 0;
    }

    .header__item {
        margin: 0 0 0 2.5em;
    }
}


/* ==================
MAIN
=====================*/





